@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Circle-CI</h1>
    <p>Learn about <a href="https://circleci.com/docs/2.0/getting-started/">building CI/CD pipeline with Circle CI</a>.</p>
</div>
<img src="images/circleci.png" alt="circleci" width="500" height="333">
